<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <style media="screen">
      .base thead {
        font-weight: bold;
      }
      .base tr td {
        font-size: 0.7em;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <table class=" base table table-bordered">
        <thead>
          <tr>
            <td>№</td>
            <td>Номер</td>
            <td>Старый номер</td>
            <td>Название</td>
            <td>Описание</td>
            <td>Заметка</td>
            <td>Кабинет</td>
            <td>Дата принятия</td>
            <td>Балансовая</td>
            <td>Остаточная</td>
          </tr>
        </thead>
        <tbody>
    {% for el in base %}
      <tr>
        <td>{{ el.id }}</td>
        <td>{{ el.number }}</td>
        <td>{{ el.old_number }}</td>
        <td>{{ el.title }}</td>
        <td>{{ el.about }}</td>
        <td>{{ el.etc }}</td>
        <td>{{ el.cab }}</td>
        <td>{{ el.date }}</td>
        <td>{{ el.balanse }}</td>
        <td>{{ el.balanse_now }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  </body>
</html>
